:root {
    --background-color: rgb(15, 15, 15);
    --color-white: rgb(255, 255, 255);
    --color-pink: rgb(253, 57, 81);
    --color-black-gray: rgb(25, 25, 25);
    --color-light-gray: rgb(172, 172, 172);
    --color-gray: rgb(41, 41, 41);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    color: var(--color-white);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

img {
    width: 30vh;
    height: 30vh;
    border-radius: 5px;
}

.main-title {
    margin: 15% auto 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title img {
    width: 13vh;
    height: 10vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 300;
    font-size: 13vh;
}

.main title h2 {
    font-size: 150%;
}

h2 {
    font-size: 4.5vh;
}

p {
    font-size: 130%;
}

.h2-text {
    display: flex;
    gap: 8px;
}

.future {
    color: var(--color-pink);
}

.main title img {
    width: 50%;
    height: 50%;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

ol {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 100%;
    margin: 1% 5vh;
}

a {
    text-decoration: none;
    transition: 0.2s;
    font-size: 80%;
}

a:hover {
    color: var(--color-pink);
}

.menu-logo {
    height: 5vh;
    width: 6vh;
    margin: 15% 3vh;
    transition: 0.2s;
}

.menu-logo:hover {
    scale: 1.1;
}

.properties {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    height: 100vh;
    padding: 3%;
}

.innovation {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.3)), url(../images/GettyImages-1138429183-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.simplicity {
    background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.3)), url(../images/google-rt2-robo-1060x649.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.accessibility {
    background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.3)), url(../images/globo-mundo-conexao-digital-banda-larga-geral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.sections {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    padding: 3%;
    height: 120vh;
}

.gray {
    background-color: var(--color-black-gray);
}

footer {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray);
}

footer p {
    font-size: 100%;
}

#robot {
    display: flex;
    line-height: 4.5vh;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.content {
    display: flex;
    gap: 20vh;
}

.content-images {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    align-items: center;
    justify-content: center;
}

.content-images img {
    width: 75vh;
    height: 45vh;
}

#meet-us {
    display: flex;
    flex-direction: column;
    gap: 7vh;

}

#meet-us img {
    border-radius: 5px;
}

.row {
    display: flex;
    gap: 7vh;
}

.person {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

i {
    font-size: 150%;
    transition: 0.2s;
}

i:hover {
    scale: 1.01;
    color: var(--color-pink)
}

.position {
    color: var(--color-light-gray);
}

.information {
    display: flex;
    gap: 2vh;
    align-items: center;
    justify-content: center;
}

.information p {
    font-size: 80%;
}

#be-partner h3{
    color: var(--color-pink);
    font-size: 10vh;
}